doctype html
block html
  html(lang=lang)
    head
      block head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color" content=themeColor)
        title= pageTitle
        link(rel="icon", href="img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/style.min.css")
        meta(name="description", content="Detailing samochodowy w Poznaniu! Sprawdź cennik usług Detailing Studio: mycie, polerowanie, pranie tapicerki, czyszczenie wnętrza, ochrona lakieru, ozonowanie i więcej. Profesjonalna pielęgnacja Twojego auta!")
        meta(name="keywords", content="auto detailing Poznań, detailing samochodowy Poznań, czyszczenie wnętrza samochodu, polerowanie lakieru, mycie samochodu ręczne, ochrona ceramiczna, pranie tapicerki samochodowej, usuwanie zapachów ozonowanie, pielęgnacja wnętrza auta, konserwacja lakieru, czyszczenie klimatyzacji, pranie dywaników, polerowanie reflektorów, czyszczenie plastików, konserwacja skóry, myjnia premium, detailing wnętrza, pełny detailing, auto spa Poznań, woskowanie auta, czyszczenie silnika, czyszczenie felg i opon, usuwanie zarysowań, auto kosmetyka, detailing premium, pranie fotelików dziecięcych, czyszczenie szyb i lusterek, Pakiet Express, Pakiet Podstawowy, Pakiet Srebrny, Pakiet Złoty, Pakiet Premium Max")
        meta(name="robots", content="index, follow")
        meta(property="og:title", content="Detailing Studio Poznań - Cennik usług auto detailingu")
        meta(property="og:description", content="Profesjonalny auto detailing w Poznaniu. Pełne czyszczenie wnętrza, polerowanie lakieru, ochrona ceramiczna, ozonowanie, mycie silnika i więcej. Sprawdź nasz cennik!")
        meta(property="og:type", content="website")
        meta(property="og:url", content="https://detailing-studio.pl")
        meta(property="og:image", content="https://detailing-studio.pl/img/logo.png")
        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:title", content="Detailing Studio Poznań - Cennik usług auto detailingu")
        meta(name="twitter:description", content="Sprawdź ceny detailingu samochodowego w Poznaniu! Oferujemy kompleksowe czyszczenie, polerowanie, ochronę lakieru i więcej.")
        meta(name="twitter:image", content="https://detailing-studio.pl/img/logo.png")
        block fonts
    body
      block content
      block scripts
        script(src="js/gsap.min.js")
        script(src="js/ScrollTrigger.min.js")
        script(src="js/main.js")