section.block.details 
    .container 
        .row.justify-content-around.align-items-center 
            .col-12.col-lg-6 
                h1.details__title Profesjonalne Czyszczenie Wnętrza Samochodu w Poznaniu - Komfort i Świeżość!
                p.details__description Zadbaj o komfort i higienę w swoim samochodzie dzięki usłudze profesjonalnego czyszczenia wnętrza w DetailingPro w Poznaniu. Oferujemy kompleksowe czyszczenie, które obejmuje odkurzanie, pranie tapicerki (materiałowej i skórzanej), czyszczenie i konserwację kokpitu oraz plastików, mycie szyb i wiele więcej. Używamy bezpiecznych i skutecznych środków, które przywracają wnętrzu świeżość i estetyczny wygląd.
                ul 
                    li 
                        b.text-bold Idealna czystość: 
                        | Pozbądź się kurzu, brudu, plam i innych zanieczyszczeń.
                    li 
                        b.text-bold Świeże i pachnące wnętrze: 
                        | Eliminacja nieprzyjemnych zapachów.
                    li 
                        b.text-bold Ochrona materiałów: 
                        | Konserwacja tapicerki i elementów plastikowych przed zużyciem.
                    li 
                        b.text-bold Komfort podróżowania: 
                        | Czyste wnętrze zwiększa przyjemność z jazdy.
                    li 
                        b.text-bold Zdrowie i higiena: 
                        | Usunięcie alergenów i bakterii.
            .col-12.col-lg-6.col-xl-5.col-xxl-4 
                .swiper.details-swiper
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/cleaning/cleaning-img-1.webp", type="image/webp")
                                img.work__img(src="img/cleaning/cleaning-img-1.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/cleaning/cleaning-img-2.webp", type="image/webp")
                                img.work__img(src="img/cleaning/cleaning-img-2.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/cleaning/cleaning-img-3.webp", type="image/webp")
                                img.work__img(src="img/cleaning/cleaning-img-3.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/cleaning/cleaning-img-4.webp", type="image/webp")
                                img.work__img(src="img/cleaning/cleaning-img-4.jpg", alt="")
                    .swiper-button-next 
                    .swiper-button-prev
                .swiper.details-swiper-thumb 
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/cleaning/cleaning-img-1.webp", type="image/webp")
                                img.work__img(src="img/cleaning/cleaning-img-1.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/cleaning/cleaning-img-2.webp", type="image/webp")
                                img.work__img(src="img/cleaning/cleaning-img-2.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/cleaning/cleaning-img-3.webp", type="image/webp")
                                img.work__img(src="img/cleaning/cleaning-img-3.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/cleaning/cleaning-img-4.webp", type="image/webp")
                                img.work__img(src="img/cleaning/cleaning-img-4.jpg", alt="")
            //- .col-12 
            //-     p.details__btn.text-center 
            //-         a.btn.btn-red.btn-large(href="#cta") Umów się
