extends settings/layout

prepend html
  - const lang = "pl";

prepend head
  - const pageTitle = "Czyszczenie Wnętrza Samochodu Poznań - DetailingPro";
  - const themeColor = "#000000";

append head

append content
  include components/header
  main
    include components/cleaning/details
    include components/cta
    include components/reviews
    include components/contacts
    include components/popup
  include components/footer

append scripts
