extends settings/layout

prepend html
  - const lang = "pl";

prepend head
  - const pageTitle = "DetailingPro Poznań - Auto Detailing | Mycie, Polerowanie, Czyszczenie Wnętrza - Cennik";
  - const themeColor = "#000000";

append head

append content
  include components/header
  main
    include components/promo
    include components/services
    include components/about
    include components/why
    include components/banner
    include components/price
    include components/works
    include components/cta
    include components/reviews
    include components/faq
    include components/contacts
    include components/popup
  include components/footer

append scripts
