section.about.block#about 
    .container 
        .row.align-items-center.justify-content-center
            .col-12.col-lg-6.col-xl-5
                h2.about__title.text-center.text-uppercase O nas
            .col-lg-6.col-xl-7
            .col-12.col-lg-6.col-xl-5 
                img.about__img(src="img/car-wash.svg", alt="")
            .col-12.col-lg-6.col-xl-7 
                .about__info
                    p Stworzyliśmy swoją markę i zdobyliśmy nienaganną reputację, zaczynając od czyszczenia mebli tapicerowanych. Dziś, po latach ciężkiej pracy, doskonale znamy się na tym, jak doprowadzić do perfekcji każdą powierzchnię. Nasi stali klienci już się o tym przekonali: początkowo powierzyli nam swoje domy, a teraz powierzają również swoje samochody.
                    p Oferujemy pełen zakres usług auto-detailingu, gwarantując nienaganną czystość i odświeżony wygląd Twojego pojazdu. Nasi specjaliści używają tylko sprawdzonych, profesjonalnych środków, które bezpiecznie oczyszczają wnętrze, przywracają świeżość tapicerce i nadają karoserii połysk, jak po wizycie w salonie.
                    //- p Чи це звичайне прибирання, видалення плям, глибока хімчистка або полірування кузова – ми подбаємо про кожну деталь. Наші послуги не лише роблять авто чистішим, а й продовжують термін служби матеріалів салону та покриття кузова.
                    //- p Довірте свій транспорт професіоналам – і він виглядатиме бездоганно, як новий!
            .col-12
                .about__btn
                    a.btn(href="#cta") Zarejestruj się
                    a.btn(href="tel:+48791131986") 
                        svg.icon(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                            path(d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z")
                            path(d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2")
                        | Konsultacja
