section#contacts.contacts.block
	.container
		h2.contacts__title.text-center.text-uppercase Kontakt
		.contacts__map 
			.map 
				.map__location Polska, Poznań i okolice (50 km)
				img.map__img(src="img/location.png", alt="")
		.row 
			.col-12.col-md-4.text-center 
				h6 Adres
				p Polska, Poznań
			.col-12.col-md-4.text-center 
				h6 Media społecznościowe
				include ./socials
			.col-12.col-md-4.text-center 
				h6 Telefon
				a(href="tel:+48791131986").link +48 791 131 986