section#contacts.contacts.block
	.container
		h2.contacts__title.text-center.text-uppercase Контакти
		.contacts__map 
			.map 
				.map__location Польша, Познань і околиці (50км)
				img.map__img(src="img/location.png", alt="")
		.row 
			.col-12.col-md-4.text-center 
				h6 Адреса
				p Польша, Познань і околиці (50км)
			.col-12.col-md-4.text-center 
				h6 Соціальні мережі
				include ./socials
			.col-12.col-md-4.text-center 
				h6 Телефон
				a(href="tel:+48791131986").link +48 791 131 986