section#contacts.contacts.block
	.container
		h2.contacts__title.text-center.text-uppercase Kontakt
		iframe.contacts__map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.4718599859407!2d16.9298368!3d52.3799959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470451005d151b21%3A0x91a86f7d9ab8ea38!2sDETAILINGPRO!5e0!3m2!1suk!2sua!4v1746527734897!5m2!1suk!2sua", width="600", height="450", style="border:0;", allowfullscreen="", loading="lazy", referrerpolicy="no-referrer-when-downgrade")
		.row 
			.col-12.col-md-4.text-center 
				h6 Adres
				p Polska, Poznań
			.col-12.col-md-4.text-center 
				h6 Media społecznościowe
				include ./socials
			.col-12.col-md-4.text-center 
				h6 Telefon
				a(href="tel:+48791131986").link +48 791 131 986