section.cta#cta.block 
    .container 
        .row.justify-content-center
            .col-12.col-md-6 
                h2.cta__title.text-center.text-uppercase Złożyć zapytanie
                form.cta__form(action="") 
                    .row.cta__row 
                        .col-6 
                            input.input.cta__input(type="text", placeholder="Imię")
                        .col-6 
                            input.input.cta__input(type="tel", placeholder="Telefon")
                        .col-6 
                            input.input.cta__input(type="text", placeholder="Miasto")
                        .col-6 
                            input.input.cta__input(type="text", placeholder="Data")
                        .col-12 
                            .cta__labels
                                label.cta__label.label
                                    input(type="checkbox", name="work", value="Pranie tapicerki meblowej")
                                    | Express
                                label.cta__label.label
                                    input(type="checkbox", name="work", value="Materacy")
                                    | Podstawowy
                                label.cta__label.label
                                    input(type="checkbox", name="work", value="Czyszczenie dywanów")
                                    | Srebrny
                                label.cta__label.label
                                    input(type="checkbox", name="work", value="Czyszczenie w samochodzie")
                                    | Złoty
                                label.cta__label.label
                                    input(type="checkbox", name="work", value="Czyszczenie w samochodzie")
                                    | Premium Max
                        .col-12 
                            button.btn.cta__btn(type="submit") Zarejestrować się 
                