section.faq.block#faq
    .container
        h2.faq__title FAQs
        .faq__list
            .faq__item
                .faq__item-header
                    h6.faq__item-title Czy możliwe jest przeprowadzenie chemicznego czyszczenia wnętrza samochodu bezpośrednio u mnie w domu lub biurze?
                .faq__item-content
                    div Tak, oferujemy usługę mobilnego czyszczenia wnętrza samochodu. Nasi specjaliści przyjadą w dogodnym dla Ciebie czasie z całym niezbędnym wyposażeniem. Ważne, aby był dostęp do zasilania elektrycznego i wody (jeśli to konieczne).
            .faq__item
                .faq__item-header
                    h6.faq__item-title Jak długo trwa chemiczne czyszczenie wnętrza samochodu?
                .faq__item-content
                    div Czas trwania zależy od stopnia zabrudzenia oraz rozmiaru pojazdu. Średnio pełne czyszczenie chemiczne trwa od 2 do 5 godzin.
            .faq__item
                .faq__item-header
                    h6.faq__item-title Czy można korzystać z samochodu od razu po czyszczeniu chemicznym?
                .faq__item-content
                    div Po czyszczeniu chemicznym siedzenia i dywaniki mogą być lekko wilgotne. Pełne wyschnięcie trwa od 6 do 12 godzin, w zależności od temperatury i wilgotności powietrza.
            .faq__item
                .faq__item-header
                    h6.faq__item-title Czy mycie mobilne nie zostawia smug i plam?
                .faq__item-content
                    div Nie, nasi specjaliści używają wysokiej jakości chemii samochodowej oraz specjalnych ręczników z mikrofibry, aby uniknąć smug i zarysowań. Po myciu pojazd jest suszony, a w razie potrzeby nakłada się ochronny wosk lub powłokę hydrofobową.
            .faq__item
                .faq__item-header
                    h6.faq__item-title Czym różni się polerowanie reflektorów od polerowania karoserii?
                .faq__item-content
                    div Polerowanie reflektorów ma na celu przywrócenie przezroczystości plastikowych soczewek i usunięcie żółknięcia, podczas gdy polerowanie karoserii poprawia połysk pojazdu, usuwa drobne zarysowania i przywraca powłokę lakierniczą.