section.faq.block#faq
    .container
        h2.faq__title FAQs
        .faq__list
            .faq__item
                .faq__item-header
                    h6.faq__item-title Чи можлива хімчистка салону безпосередньо у мене вдома або в офісі?
                .faq__item-content
                    div Так, ми надаємо послугу виїзної хімчистки салону. Наші фахівці приїдуть у зручний для вас час з усім необхідним обладнанням. Головне, щоб було підключення до електромережі та водопостачання (якщо потрібно).
            .faq__item
                .faq__item-header
                    h6.faq__item-title Як довго триває хімчистка салону?
                .faq__item-content
                    div Тривалість залежить від ступеня забруднення та розміру автомобіля. У середньому повна хімчистка займає від 2 до 5 годин.
            .faq__item
                .faq__item-header
                    h6.faq__item-title Чи можна користуватися автомобілем одразу після хімчистки?
                .faq__item-content
                    div Після хімчистки сидіння та килимки можуть залишатися злегка вологими. Повне висихання займає 6–12 годин, залежно від температури та вологості повітря.
            .faq__item
                .faq__item-header
                    h6.faq__item-title Виїзна мийка не залишає розводів і плям?
                .faq__item-content
                    div Ні, наші фахівці використовують якісну автохімію та спеціальні мікрофіброві рушники, щоб уникнути розводів і подряпин. Після миття авто висушується, а при необхідності наноситься захисний віск або гідрофобне покриття.
            .faq__item
                .faq__item-header
                    h6.faq__item-title Чим відрізняється полірування фар від полірування кузова?
                .faq__item-content
                    div Полірування фар спрямоване на відновлення прозорості пластикових лінз та видалення жовтизни, тоді як полірування кузова покращує блиск автомобіля, усуває дрібні подряпини та відновлює лакофарбове покриття.