footer.footer 
    .container 
        .row 
            //- .col-12.col-xl-4 
            //-     .footer__logo 
            //-         a.logo(href="") Detailing
            //-             span Pro
            //- .col-6.col-xl-4 
            //-     h6 Coціальні мережі
            //-     include ./socials
            //- .col-6.col-xl-4 
            //-     h6 Телефон
            //-     a(href="tel:+48791131986").link +48 791 131 986
            .col-12
                .text-center &copy; 2025 DetailingPro. All rights reserved.
