header.header 
    .container 
        .header__inner
                .header__menu 
                    nav.menu 
                        a.menu__item(href="#about") Про нас
                        a.menu__item(href="#services") Послуги
                        a.menu__item(href="#price") Ціни
                .header__logo 
                    a.logo(href="") Detailing
                        span Pro
                .header__menu 
                    nav.menu 
                        a.menu__item(href="#reviews") Відгуки
                        a.menu__item(href="#works") Роботи
                        a.menu__item(href="#contacts") Контакти
                .header__burger
                    button.js-burger.btn-transparent(type="button")
                        span.cross 
                            span 
                            span
                            span