header.header 
    .container 
        .header__inner
            .header__menu 
                nav.menu 
                    a.menu__item(href="#about") O nas
                    a.menu__item(href="#services") Usługi
                    a.menu__item(href="#price") Ceny
            .header__logo 
                a.logo(href="") 
                    img(src="img/logo.png", alt="")
                    | Detailing
                    span Pro
            .header__menu 
                nav.menu 
                    a.menu__item(href="#reviews") Opinie
                    a.menu__item(href="#works") Prace
                    a.menu__item(href="#contacts") Kontakt
            .header__burger
                button.js-burger.btn-transparent(type="button")
                    span.cross 
                        span 
                        span
                        span