section#price.price.block
    .container
        h2.price__title.text-uppercase Ceny
        p.price__subtitle Po wielu latach doświadczenia w branży czyszczenia samochodów opracowaliśmy optymalny system pakietów usługowych, który uwzględnia podstawowe potrzeby klientów i zapewnia najlepszy efekt. Zamiast zamawiać pojedyncze usługi, oferujemy kompleksowe pakiety, które obejmują starannie dobrane etapy pielęgnacji samochodu. Takie podejście pozwala zaoszczędzić czas, upraszcza proces wyboru i gwarantuje wysoką jakość obsługi. Każdy pakiet jest dostosowany do różnych poziomów potrzeb — od szybkiego podstawowego czyszczenia po pełny premium detailing.
        .price-table
            .row.price-table__row 
                .col-12.col-xl-6.price-table__col
                    h5.price-table__title Pakiet „Express” (250–300 zł)
                    .price-item
                        h6 Usługi podstawowe:
                        ul 
                            li Szybkie mycie zewnętrzne karoserii
                            li Krótka kontrola i lekkie czyszczenie wnętrza (odkurzanie siedzeń oraz dywaników)
                            li Przetrzycie deski rozdzielczej i elementów plastikowych
                        h6 Zalety:
                            ul 
                                li Idealny dla osób, które się spieszą i chcą szybko uporządkować swój samochód
                .col-12.col-xl-6.price-table__col
                    h5.price-table__title Pakiet „Podstawowy” (300–350 zł)
                    .price-item
                        h6 Usługi podstawowe:
                        ul  
                            li Pełne mycie zewnętrzne karoserii z czyszczeniem felg
                        h6 Standardowe czyszczenie wnętrza, w tym:
                        ul 
                            li Pranie dywaników i wykładzin
                            li Czyszczenie elementów plastikowych
                            li Usuwanie kurzu z powierzchni
                            li Mycie szyb
                            li Przetrzycie paneli drzwiowych i innych elementów wnętrza
                        h6 Zalety:
                            ul 
                                li Kompleksowe rozwiązanie do regularnej pielęgnacji samochodu
                .col-12.col-xl-6.price-table__col
                    h5.price-table__title Pakiet „Srebrny” (450–500 zł)
                    .price-item
                        h6 Usługi podstawowe:
                        ul 
                            li Dokładne mycie zewnętrzne z precyzyjnym czyszczeniem felg i opon
                            li Kompleksowe czyszczenie wnętrza z użyciem specjalistycznych środków (odkurzanie, mycie na mokro)
                            li Pranie i suszenie wykładzin oraz elementów tapicerki
                            li Czyszczenie, pielęgnacja oraz konserwacja powierzchni plastikowych, skórzanych i tekstylnych
                            li W razie potrzeby – podstawowe czyszczenie silnika
                        h6 Zalety:
                        ul 
                            li Zaawansowana pielęgnacja dla dokładnego usunięcia zabrudzeń i utrzymania doskonałego wyglądu
                .col-12.col-xl-6.price-table__col
                    h5.price-table__title Pakiet „Złoty” (550–600 zł)
                    .price-item
                        h6 Usługi podstawowe:
                        ul 
                            li Wszystkie procedury z pakietu „Srebrny”
                            li Głębokie polerowanie karoserii w celu usunięcia drobnych zarysowań
                            li Aplikacja powłoki ochronnej (wosk lub ceramika) dla utrzymania blasku oraz ochrony przed czynnikami zewnętrznymi
                        h6 Szczegółowe czyszczenie wnętrza z:
                        ul 
                            li Praniem i suszeniem wykładzin oraz tapicerki
                            li Ozonacją wnętrza
                            li Pielęgnacją i czyszczeniem elementów plastikowych
                        h6 Zalety:
                        ul 
                            li Pakiet dla klientów ceniących premium pielęgnację i długotrwałą ochronę samochodu
                .col-12.col-xl-6.price-table__col
                    h5.price-table__title  Pakiet „Premium Max” (700–1000 zł)
                    .price-item
                        h6 Usługi podstawowe:
                        ul 
                            li Kompleksowy detailing: pełne czyszczenie, polerowanie oraz aplikacja wysokiej jakości powłoki ochronnej (np. powłoka ceramiczna)
                            li Szczegółowe czyszczenie silnika, mycie reflektorów, renowacja optyki
                        h6 Głębokie czyszczenie wnętrza z użyciem profesjonalnych środków, w tym:
                        ul 
                            li Pełna chemiczna czyszczenie wnętrza samochodu
                            li Odnowienie powierzchni skórzanych i tekstylnych
                            li Indywidualne podejście z możliwością dodania dodatkowych usług na życzenie (np. dezynfekcja wnętrza, renowacja lakieru)
                        h6 Zalety:
                        ul 
                            li Maksymalna dbałość o każdy szczegół – idealny wybór dla klientów, dla których jakość jest najważniejsza
        .price__btn
            a.btn(href="#cta") Zarejestrować się
            a.btn(href="tel:+48791131986") 
                svg.icon(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                    path(d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z")
                    path(d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2")
                | Konsultacja