section.promo#promo.section.block 
    //- .promo__bg.parallax-item(data-speed="0.5") 
    .section__inner
        .container.promo__container 
            .row.align-items-center 
                .col-12.col-lg-7
                    .promo__info
                        h1.promo__title DetailingPro – głębokie czyszczenie, renowacja i ochrona Twojego auta!
                        p.promo__subtitle Oferujemy pełny zakres usług detailingu.
                        .promo__btn
                            a.btn.btn-red.btn-large(href="#cta") Umów się
                //- .col-12.col-lg-6 
                //-     .promo__car
                //-         .car 
                //-             picture.car__img
                //-                 source(srcset="img/promo-car.webp", type="image/webp")
                //-                 img(src="img/promo-car.jpg", alt="Detailing Pro usługi")
