section.reviews#reviews.block.section.js-scroll-x-wrapper 
    .section__inner
        .container 
            h2.reviews__title.title Відгуки
            .js-scroll-x-section
                .row.flex-nowrap.reviews__row
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Оксана
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Раніше замовляла хімчистку дивана, результат був чудовий! Коли дізналася, що тепер компанія займається ще й детейлінгом, одразу записалася на хімчистку салону авто. Машина після процедури, як нова! Жодних плям, приємний аромат, і все це без виїзду в сервіс – хлопці приїхали прямо до мене. Дуже задоволена!
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Марина
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text У салоні було багато старих плям від кави та бруду, особливо на сидіннях. Думала, що вже нічого не допоможе, але після хімчистки авто виглядає, як після салону! Дуже акуратно працюють, все детально очищено. Рекомендую!
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Анна
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Мийка просто супер! Дуже якісно відмили навіть ті місця, які на звичайних автомийках ніколи не очищають. Особливо сподобалося, що колісні арки та диски відмили до ідеалу. Дуже задоволена сервісом!
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Віталій
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Після полірування авто виглядає краще, ніж коли я його купував! Видалили всі дрібні подряпини, машина тепер блищить, як дзеркало. Вартість повністю виправдана, робота на найвищому рівні!
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Олександр
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Замовив полірування кузова перед продажем авто, і не пожалкував! Машина виглядає на кілька років молодшою, покупці оцінили доглянутий вигляд, і я швидко знайшов клієнта. Однозначно рекомендую!
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Ігор
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Фари стали тьмяними і жовтими, через що вночі світло було дуже слабке. Після полірування вони знову, як нові! Видимість значно покращилася, їхати тепер набагато комфортніше.
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Роман
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Довго думав, чи варто полірувати фари, чи краще замінити. Добре, що вирішив звернутися сюди! Виглядають, як тільки з заводу, ще й заощадив гроші на нових фарах.
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Максим
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Замовив поклейку антигравійної плівки на капот і бампер. Роботу виконали швидко і якісно, тепер не переживаю за дрібні подряпини та камінці на трасі. Дуже задоволений!
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Денис
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Після поклейки плівки авто виглядає бездоганно, ще й тепер не боюся подряпин. Якість матеріалу на висоті, все зроблено акуратно. Велика подяка майстрам!
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Світлана
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text Раніше замовляла чистку килимів у цієї компанії, тому коли побачила, що тепер вони роблять мийку авто, вирішила спробувати. Дуже зручно – не потрібно нікуди їхати, приїхали до мене у двір, все помили швидко і якісно. Авто блищить, жодних розводів, ще й віск нанесли! Тепер буду звертатися тільки сюди.