section.services#services.block.section.js-scroll-x-wrapper 
    .section__inner
        .container-fluid.services__container
            h2.services__title.text-center.text-uppercase Zakres usług DETAILING STUDIO
            p.text-center Oferujemy kompleksowe usługi detailingowe, obejmujące:
            .js-scroll-x-section
                .row.flex-nowrap.services__row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.row-cols-xl-5
                    .col.js-scroll-x-item 
                        .service 
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/service-img-1.webp", type="image/webp")
                                        img(src="img/service-img-1.jpg", alt="Wnętrze")
                                    h6.service__title Wnętrze
                                    ul.service__list 
                                        li Detailing wnętrza – profesjonalne czyszczenie i renowacja wszystkich powierzchni w kabinie.
                                        li Renowacja elementów wnętrza – plastiki, drewno, karbon – przywracamy ich idealny wygląd.
                                        li Renowacja i impregnacja skóry – usuwanie uszkodzeń, odświeżenie i ochrona.
                                        li Pranie i impregnacja tapicerki – skuteczne czyszczenie materiałów tekstylnych.
                                .service__back
                                    div Głębokie czyszczenie wszystkich elementów wnętrza, w tym siedzeń, tapicerki drzwi, podłogi, sufitu, bagażnika i powierzchni plastikowych. Usuwanie plam, kurzu, bakterii i nieprzyjemnych zapachów przy użyciu profesjonalnych środków oraz parownic. Po czyszczeniu wnętrze wygląda jak nowe i ma świeży zapach.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/service-img-2.webp", type="image/webp")
                                        img(src="img/service-img-2.jpg", alt="Mycie")
                                    h6.service__title Mycie
                                    ul.service__list 
                                        li Myjnia samochodowa
                                .service__back
                                    div Kompleksowe czyszczenie nadwozia, felg, nadkoli i szyb z wykorzystaniem wysokiej jakości środków chemii samochodowej oraz metody bezdotykowej. Obejmuje mycie ręczne przy użyciu gąbek z mikrofibry, suszenie bez smug oraz nakładanie środków ochronnych dla połysku i efektu hydrofobowego.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/service-img-3.webp", type="image/webp")
                                        img(src="img/service-img-3.jpg", alt="Reflektory")
                                    h6.service__title Reflektory
                                    ul.service__list 
                                        li Przyciemnianie lamp folią ochronną – styl i ochrona reflektorów.
                                        li Renowacja reflektorów – usuwanie zmatowień i poprawa widoczności.
                                .service__back
                                    div Przywracanie przejrzystości i połysku reflektorów za pomocą profesjonalnych środków polerskich. Usuwanie rys, matowienia i żółknięcia, co poprawia nie tylko wygląd, ale także skuteczność oświetlenia w nocy.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/service-img-4.webp", type="image/webp")
                                        img(src="img/service-img-4.jpg", alt="Nadwozie")
                                    h6.service__title Nadwozie
                                    ul.service__list 
                                        li Renowacja i pełna korekta lakieru – usuwanie zarysowań i przywracanie fabrycznego blasku.
                                        li Jednoetapowe korekty lakieru – szybkie i skuteczne poprawki wyglądu lakieru.
                                        li Zaprawki lakiernicze – punktowa naprawa odprysków i drobnych uszkodzeń.
                                .service__back
                                    div Przywracanie połysku powłoki lakierniczej poprzez wielostopniowe polerowanie. Usuwanie rys, otarć i oksydacji farby. Dodatkowo można nałożyć wosk ochronny lub powłokę ceramiczną dla długotrwałego efektu.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        source(srcset="img/service-img-5.webp", type="image/webp")
                                        img(src="img/service-img-5.jpg", alt="Ochrona")
                                    h6.service__title Ochrona
                                    ul.service__list 
                                        li Zabezpieczenie lakieru powłokami ceramicznymi i kwarcowymi – długotrwała ochrona i głęboki połysk.
                                        li Zabezpieczenie pojazdu folią PPF – jesteśmy certyfikowanym aplikatorem RIVASHIELD Polska.
                                        li Aplikacja powłok hydrofobowych na szyby („niewidzialna wycieraczka”) – lepsza widoczność w deszczu.
                                        li Aplikacja powłok ochronnych na felgi – zabezpieczenie przed brudem i osadami drogowymi.
                                .service__back
                                    div Oklejanie pojazdu przezroczystą lub matową folią poliuretanową w celu ochrony powłoki lakierniczej przed odpryskami, rysami, promieniowaniem UV oraz reagentami chemicznymi. Możliwe jest częściowe lub pełne pokrycie nadwozia, a także ochrona poszczególnych elementów, takich jak reflektory, lusterka czy maska.
            p.services__description.container-fluid 
                | Dodatkowo: Usługi mobilne u klienta!
                br
                | ie masz czasu na wizytę w studiu? Przyjedziemy do Ciebie i wykonamy detailing wnętrza na miejscu! 💰Cena usługi prania tapicerki (z suszeniem i ozonowaniem) u klienta: od 400 zł.
            .services__btn
                a.btn(href="#price") Poznaj ceny

