section.services#services.block.section.js-scroll-x-wrapper 
    .section__inner
        .container-fluid.services__container
            h2.services__title.text-center.text-uppercase Usługi
            .js-scroll-x-section
                .row.flex-nowrap.services__row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.row-cols-xl-5
                    .col.js-scroll-x-item 
                        .service 
                            .service__inner
                                .service__front
                                    picture
                                        source(srcset="img/service-img-1.webp", type="image/webp")
                                        img.service__img(src="img/service-img-1.jpg", alt="Czyszczenie wnętrza (wyjazdowe/stacjonarne)")
                                    .service__title Czyszczenie wnętrza
                                        br
                                        | (wyjazdowe/stacjonarne)
                                .service__back
                                    div Głębokie czyszczenie wszystkich elementów wnętrza, w tym siedzeń, tapicerki drzwi, podłogi, sufitu, bagażnika i powierzchni plastikowych. Usuwanie plam, kurzu, bakterii i nieprzyjemnych zapachów przy użyciu profesjonalnych środków oraz parownic. Po czyszczeniu wnętrze wygląda jak nowe i ma świeży zapach.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture
                                        source(srcset="img/service-img-2.webp", type="image/webp")
                                        img.service__img(src="img/service-img-2.jpg", alt="Mycie (wyjazdowe/stacjonarne)")
                                    .service__title Mycie
                                        br
                                        | (wyjazdowe/stacjonarne)
                                .service__back
                                    div Kompleksowe czyszczenie nadwozia, felg, nadkoli i szyb z wykorzystaniem wysokiej jakości środków chemii samochodowej oraz metody bezdotykowej. Obejmuje mycie ręczne przy użyciu gąbek z mikrofibry, suszenie bez smug oraz nakładanie środków ochronnych dla połysku i efektu hydrofobowego.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture
                                        source(srcset="img/service-img-3.webp", type="image/webp")
                                        img.service__img(src="img/service-img-3.jpg", alt="Polerowanie reflektorów")
                                    .service__title Polerowanie reflektorów
                                .service__back
                                    div Przywracanie przejrzystości i połysku reflektorów za pomocą profesjonalnych środków polerskich. Usuwanie rys, matowienia i żółknięcia, co poprawia nie tylko wygląd, ale także skuteczność oświetlenia w nocy.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture
                                        source(srcset="img/service-img-4.webp", type="image/webp")
                                        img.service__img(src="img/service-img-4.jpg", alt="Polerowanie nadwozia")
                                    .service__title Polerowanie nadwozia
                                .service__back
                                    div Przywracanie połysku powłoki lakierniczej poprzez wielostopniowe polerowanie. Usuwanie rys, otarć i oksydacji farby. Dodatkowo można nałożyć wosk ochronny lub powłokę ceramiczną dla długotrwałego efektu.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture
                                        source(srcset="img/service-img-5.webp", type="image/webp")
                                        img.service__img(src="img/service-img-5.jpg", alt="Naklejanie folii")
                                    .service__title Naklejanie folii
                                .service__back
                                    div Oklejanie pojazdu przezroczystą lub matową folią poliuretanową w celu ochrony powłoki lakierniczej przed odpryskami, rysami, promieniowaniem UV oraz reagentami chemicznymi. Możliwe jest częściowe lub pełne pokrycie nadwozia, a także ochrona poszczególnych elementów, takich jak reflektory, lusterka czy maska.
            p.services__description.text-center.container-fluid Wszystkie nasze usługi zostały uporządkowane w wygodne pakiety: Express, Podstawowy, Srebrny, Złoty, Premium Max. Możesz zapoznać się z nimi szczegółowo w sekcji z cenami.
            .services__btn
                a.btn(href="#price") Poznaj ceny
