section.services#services.block
        .container
            .services__navigation
                .row.align-items-center.justify-content-between.services__row
                    .col-auto 
                        
                            h2.services__title.text-uppercase Zakres usług DetailingPro
                            p.services__subtitle Oferujemy kompleksowe usługi detailingowe:
                    .col-auto 
                        .swiper-navigation
                            .services-button-prev.btn.btn-dark.btn-small
                                svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                                    path(fill-rule="evenodd", d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
                            .services-button-next.btn.btn-dark.btn-small
                                svg.bi.bi-chevron-right(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                                    path(fill-rule="evenodd", d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
            .swiper.services-swiper 
                .swiper-wrapper
                    .swiper-slide
                        .service 
                            .service__header
                                picture.service__img
                                    source(srcset="img/service-img-1.webp", type="image/webp")
                                    img(src="img/service-img-1.jpg", alt="Wnętrze")
                            .service__body
                                h6.service__title Czyszczenie wnętrza
                                .service__description Kompleksowe czyszczenie wnętrza auta – tapicerki, plastików, podłogi i sufitu, z eliminacją zapachów i bakterii.
                            .service__footer 
                                a.service__more(href="cleaning.html") Więcej szczegółów
                    .swiper-slide
                        .service
                            .service__header
                                picture.service__img
                                    source(srcset="img/service-img-2.webp", type="image/webp")
                                    img(src="img/service-img-2.jpg", alt="Mycie")
                            .service__body
                                h6.service__title Regeneracja skóry
                                .service__description Renowacja skóry to usługa detailingu przywracająca pierwotny wygląd i właściwości skórzanym elementom wnętrza pojazdu.
                            .service__footer 
                                a.service__more(href="skin.html") Więcej szczegółów
                    .swiper-slide
                        .service
                            .service__header
                                picture.service__img
                                    source(srcset="img/service-img-3.webp", type="image/webp")
                                    img(src="img/service-img-3.jpg", alt="Reflektory")
                            .service__body
                                h6.service__title Tuning/renowacja reflektorów
                                .service__description Usuwanie zmatowień i rys z reflektorów dla lepszej widoczności.
                            .service__footer 
                                a.service__more(href="reflector.html") Więcej szczegółów
                    .swiper-slide
                        .service
                            .service__header
                                picture.service__img
                                    source(srcset="img/service-img-4.webp", type="image/webp")
                                    img(src="img/service-img-4.jpg", alt="Nadwozie")
                            .service__body
                                h6.service__title Polerowanie/aplikacja ceramiki
                                .service__description Przywracanie połysku lakieru przez polerowanie i zabezpieczanie powłoką.
                            .service__footer 
                                a.service__more(href="polishing.html") Więcej szczegółów
                    //- .swiper-slide
                    //-     .service
                    //-         .service__header
                    //-             picture.service__img
                    //-                 source(srcset="img/service-img-5.webp", type="image/webp")
                    //-                 img(src="img/service-img-5.jpg", alt="Ochrona")
                    //-         .service__body
                    //-             h6.service__title Ochrona lakieru
                    //-             .service__description Oklejanie folią ochronną PPF dla zabezpieczenia lakieru przed uszkodzeniami.
                    //-         .service__footer 
                    //-             a.service__more(href="") Więcej szczegółów
            p.services__note
                | Dodatkowo: Usługi mobilne u klienta!
                br
                | Nie masz czasu na wizytę? Przyjedziemy i wykonamy detailing wnętrza na miejscu. 💰 Cena od 400 zł.
            .services__btn
                a.btn.btn-red.btn-large(href="#cta") Umów się
