section.block.why 
	.container 
		h2.text-center.why__title Twój samochód zasługuje na to, co najlepsze: Porównaj PRZED i PO detailingu
		p.text-center.why__subtitle Przekonaj się sam, jak kompleksowa pielęgnacja przywraca Twojemu samochodowi pierwotne piękno.
		.why__inner
			.row.why__row 
				.col-12.col-lg-6
					#process-slider.beer-slider.why__slider(data-beer-label="")
						img(src="img/car-after.webp", alt="Original - Man holding beer")
						.beer-reveal(data-beer-label="")
							img(src="img/car-before.webp", alt="Processed - Man holding beer")
				.col-12.col-lg-6
					.row.why__row  
						.col-12.col-md-6.col-lg-12 
							h3.h6.text-red PRZED detailingiem:
							ul 
								li Matowa powłoka lakiernicza, drobne rysy i hologramy.
								li Zabrudzone wnętrze, kurz na plastikach, plamy na siedzeniach.
								li Brudne felgi z pyłem hamulcowym.
						.col-12.col-md-6.col-lg-12 
							h3.h6.text-green PO detailingu:
							ul 
								li Głęboki i nasycony kolor nadwozia, brak rys i hologramów.
								li Czyste i świeże wnętrze, wyczyszczone plastiki, usunięte plamy z siedzeń.
								li Błyszczące i czyste felgi.
				.col-12 
					.why__btn.text-center 
						a.btn.btn-red.btn-large(href="#cta") Umów się 
