section.works.block#works 
    .container
        h2.works__title.text-center.text-uppercase Prace
        .row.works__row
            .col-3.works__col
                .work
                    picture
                        source(srcset="img/work-img-1.webp", type="image/webp")
                        img(src="img/work-img-1.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-2.webp", type="image/webp")
                        img(src="img/work-img-2.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-3.webp", type="image/webp")
                        img(src="img/work-img-3.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-4.webp", type="image/webp")
                        img(src="img/work-img-4.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-5.webp", type="image/webp")
                        img(src="img/work-img-5.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-6.webp", type="image/webp")
                        img(src="img/work-img-6.jpg", alt="")
            .col-3.works__col
                .work
                    picture
                        source(srcset="img/work-img-7.webp", type="image/webp")
                        img(src="img/work-img-7.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-8.webp", type="image/webp")
                        img(src="img/work-img-8.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-9.webp", type="image/webp")
                        img(src="img/work-img-9.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-10.webp", type="image/webp")
                        img(src="img/work-img-10.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-11.webp", type="image/webp")
                        img(src="img/work-img-11.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-1.webp", type="image/webp")
                        img(src="img/work-img-1.jpg", alt="")
            .col-3.works__col
                .work
                    picture
                        source(srcset="img/work-img-2.webp", type="image/webp")
                        img(src="img/work-img-2.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-3.webp", type="image/webp")
                        img(src="img/work-img-3.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-4.webp", type="image/webp")
                        img(src="img/work-img-4.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-5.webp", type="image/webp")
                        img(src="img/work-img-5.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-6.webp", type="image/webp")
                        img(src="img/work-img-6.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-7.webp", type="image/webp")
                        img(src="img/work-img-7.jpg", alt="")
            .col-3.works__col
                .work
                    picture
                        source(srcset="img/work-img-8.webp", type="image/webp")
                        img(src="img/work-img-8.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-9.webp", type="image/webp")
                        img(src="img/work-img-9.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-10.webp", type="image/webp")
                        img(src="img/work-img-10.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-11.webp", type="image/webp")
                        img(src="img/work-img-11.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-1.webp", type="image/webp")
                        img(src="img/work-img-1.jpg", alt="")
                .work
                    picture
                        source(srcset="img/work-img-2.webp", type="image/webp")
                        img(src="img/work-img-2.jpg", alt="")