section.works.block#works 
    .container
        h2.works__title.text-center.text-uppercase Роботи
        .row.works__row
            .col-3.works__col
                .work
                    img(src="img/work-img-1.jpg", alt="")
                .work
                    img(src="img/work-img-2.jpg", alt="")
                .work
                    img(src="img/work-img-3.jpg", alt="")
                .work
                    img(src="img/work-img-4.jpg", alt="")
                .work
                    img(src="img/work-img-5.jpg", alt="")
                .work
                    img(src="img/work-img-6.jpg", alt="")
            .col-3.works__col
                .work
                    img(src="img/work-img-7.jpg", alt="")
                .work
                    img(src="img/work-img-8.jpg", alt="")
                .work
                    img(src="img/work-img-9.jpg", alt="")
                .work
                    img(src="img/work-img-10.jpg", alt="")
                .work
                    img(src="img/work-img-11.jpg", alt="")
                .work
                    img(src="img/work-img-1.jpg", alt="")
            .col-3.works__col
                .work
                    img(src="img/work-img-2.jpg", alt="")
                .work
                    img(src="img/work-img-3.jpg", alt="")
                .work
                    img(src="img/work-img-4.jpg", alt="")
                .work
                    img(src="img/work-img-5.jpg", alt="")
                .work
                    img(src="img/work-img-6.jpg", alt="")
                .work
                    img(src="img/work-img-7.jpg", alt="")
            .col-3.works__col
                .work
                    img(src="img/work-img-8.jpg", alt="")
                .work
                    img(src="img/work-img-9.jpg", alt="")
                .work
                    img(src="img/work-img-10.jpg", alt="")
                .work
                    img(src="img/work-img-11.jpg", alt="")
                .work
                    img(src="img/work-img-1.jpg", alt="")
                .work
                    img(src="img/work-img-2.jpg", alt="")