section.block.details 
    .container 
        .row.justify-content-around.align-items-center 
            .col-12.col-lg-6 
                h1.details__title Profesjonalna Regeneracja Skórzanej Tapicerki w Poznaniu - Przywróć Elegancję!
                p.details__description Skórzana tapicerka dodaje luksusu i elegancji, ale z czasem może ulec zniszczeniu. W DetailingPro w Poznaniu oferujemy profesjonalną regenerację skóry, która przywraca jej dawny blask. Zajmujemy się czyszczeniem, odżywianiem, naprawą drobnych uszkodzeń, takich jak przetarcia czy pęknięcia, oraz zabezpieczeniem skóry przed dalszym zużyciem. Twoja skórzana tapicerka odzyska miękkość, elastyczność i piękny wygląd.
                ul 
                    li 
                        b.text-bold Przywrócenie pierwotnego wyglądu: 
                        | Skóra wygląda jak nowa.
                    li 
                        b.text-bold Naprawa uszkodzeń: 
                        | Usuwanie przetarć, pęknięć i drobnych zarysowań.
                    li 
                        b.text-bold Ochrona przed dalszym zużyciem:
                        | Konserwacja i zabezpieczenie skóry.
                    li 
                        b.text-bold Podniesienie wartości pojazdu:
                        | Zadbane skórzane wnętrze jest atutem.
            .col-12.col-lg-6.col-xl-5.col-xxl-4 
                .swiper.details-swiper
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/skin/skin-img-1.webp", type="image/webp")
                                img.work__img(src="img/skin/skin-img-1.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/skin/skin-img-2.webp", type="image/webp")
                                img.work__img(src="img/skin/skin-img-2.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/skin/skin-img-3.webp", type="image/webp")
                                img.work__img(src="img/skin/skin-img-3.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/skin/skin-img-4.webp", type="image/webp")
                                img.work__img(src="img/skin/skin-img-4.jpg", alt="")
                    .swiper-button-next 
                    .swiper-button-prev
                .swiper.details-swiper-thumb 
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/skin/skin-img-1.webp", type="image/webp")
                                img.work__img(src="img/skin/skin-img-1.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/skin/skin-img-2.webp", type="image/webp")
                                img.work__img(src="img/skin/skin-img-2.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/skin/skin-img-3.webp", type="image/webp")
                                img.work__img(src="img/skin/skin-img-3.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/skin/skin-img-4.webp", type="image/webp")
                                img.work__img(src="img/skin/skin-img-4.jpg", alt="")
            //- .col-12 
            //-     p.details__btn.text-center 
            //-         a.btn.btn-red.btn-large(href="#cta") Umów się
