section.block.details 
    .container 
        .row.justify-content-around.align-items-center 
            .col-12.col-lg-6 
                h1.details__title Tuning i Renowacja Reflektorów w Poznaniu - Lepsza Widoczność i Nowoczesny Wygląd!
                p.details__description Matowe, zżółknięte lub uszkodzone reflektory nie tylko pogarszają wygląd Twojego samochodu, ale przede wszystkim zmniejszają bezpieczeństwo jazdy. W DetailingPro w Poznaniu oferujemy profesjonalną renowację reflektorów, która przywraca im pełną przejrzystość i skuteczność świecenia. Możemy również zaproponować opcje tuningu reflektorów, takie jak przyciemnianie czy montaż dodatkowych elementów, aby nadać Twojemu autu unikalny charakter.
                ul 
                    li 
                        b.text-bold Poprawa bezpieczeństwa: 
                        | Lepsza widoczność na drodze.
                    li 
                        b.text-bold Nowoczesny wygląd: 
                        | Odświeżone reflektory poprawiają estetykę pojazdu.
                    li 
                        b.text-bold Oszczędność:
                        | Renowacja jest tańsza niż wymiana reflektorów.
                    li 
                        b.text-bold Zwiększenie wartości pojazdu:
                        | Zadbane reflektory są ważnym elementem wizualnym.
                    li 
                        b.text-bold Możliwość personalizacji: 
                        | Tuning reflektorów nadaje indywidualny styl.
            .col-12.col-lg-6.col-xl-5.col-xxl-4 
                .swiper.details-swiper
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/reflector/reflector-img-1.webp", type="image/webp")
                                img.work__img(src="img/reflector/reflector-img-1.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/reflector/reflector-img-2.webp", type="image/webp")
                                img.work__img(src="img/reflector/reflector-img-2.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/reflector/reflector-img-3.webp", type="image/webp")
                                img.work__img(src="img/reflector/reflector-img-3.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/reflector/reflector-img-4.webp", type="image/webp")
                                img.work__img(src="img/reflector/reflector-img-4.jpg", alt="")
                    .swiper-button-next 
                    .swiper-button-prev
                .swiper.details-swiper-thumb 
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/reflector/reflector-img-1.webp", type="image/webp")
                                img.work__img(src="img/reflector/reflector-img-1.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/reflector/reflector-img-2.webp", type="image/webp")
                                img.work__img(src="img/reflector/reflector-img-2.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/reflector/reflector-img-3.webp", type="image/webp")
                                img.work__img(src="img/reflector/reflector-img-3.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/reflector/reflector-img-4.webp", type="image/webp")
                                img.work__img(src="img/reflector/reflector-img-4.jpg", alt="")
            //- .col-12 
            //-     p.details__btn.text-center 
            //-         a.btn.btn-red.btn-large(href="#cta") Umów się
