section.block.details 
    .container 
        .row.justify-content-around.align-items-center 
            .col-12.col-lg-6 
                h1.details__title Profesjonalne Polerowanie i Aplikacja Powłoki Ceramicznej w Poznaniu - Ochrona i Blask na Lata!
                p.details__description Chcesz, aby lakier Twojego samochodu zachwycał głębią koloru i był odporny na zarysowania oraz inne uszkodzenia? W DetailingPro w Poznaniu oferujemy usługę profesjonalnego polerowania lakieru, która usuwa wszelkie niedoskonałości, przygotowując go pod aplikację powłoki ceramicznej. Powłoka ceramiczna to zaawansowana ochrona, która zapewnia długotrwały połysk, hydrofobowość i odporność na czynniki zewnętrzne.
                ul 
                    li 
                        b.text-bold Perfekcyjny wygląd lakieru:
                        | Usunięcie rys, hologramów i przywrócenie głębi koloru.
                    li 
                        b.text-bold Długotrwała ochrona:
                        | Powłoka ceramiczna zabezpiecza lakier na wiele lat.
                    li 
                        b.text-bold Efekt hydrofobowy: 
                        | Woda i brud nie przywierają do powierzchni, ułatwiając mycie.
                    li 
                        b.text-bold Intensywny połysk:
                        | Powłoka ceramiczna nadaje lakierowi niesamowity blask.
            .col-12.col-lg-6.col-xl-5.col-xxl-4 
                .swiper.details-swiper
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/polishing/polishing-img-1.webp", type="image/webp")
                                img.work__img(src="img/polishing/polishing-img-1.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/polishing/polishing-img-2.webp", type="image/webp")
                                img.work__img(src="img/polishing/polishing-img-2.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/polishing/polishing-img-3.webp", type="image/webp")
                                img.work__img(src="img/polishing/polishing-img-3.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/polishing/polishing-img-4.webp", type="image/webp")
                                img.work__img(src="img/polishing/polishing-img-4.jpg", alt="")
                    .swiper-button-next 
                    .swiper-button-prev
                .swiper.details-swiper-thumb 
                    .swiper-wrapper 
                        .swiper-slide 
                            picture.work
                                source(srcset="img/polishing/polishing-img-1.webp", type="image/webp")
                                img.work__img(src="img/polishing/polishing-img-1.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/polishing/polishing-img-2.webp", type="image/webp")
                                img.work__img(src="img/polishing/polishing-img-2.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/polishing/polishing-img-3.webp", type="image/webp")
                                img.work__img(src="img/polishing/polishing-img-3.jpg", alt="")
                        .swiper-slide 
                            picture.work
                                source(srcset="img/polishing/polishing-img-4.webp", type="image/webp")
                                img.work__img(src="img/polishing/polishing-img-4.jpg", alt="")
            //- .col-12 
            //-     p.details__btn.text-center 
            //-         a.btn.btn-red.btn-large(href="#cta") Umów się
